.space{
    position: relative;
    overflow: hidden; 
}

.spider__photo {
    width: 100%;
    height: 100%;
}

.spider{
    z-index: 10;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 550px;
    left: 400px;
    transform-origin: center center;
    transition: 
        top 0.1s, 
        left 0.1s,
        transform 0.2s ease;
}

.apple{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1px;
    left: 1px;
}

.apple__photo {
    width: 100%;
    height: 100%;
}

.goldPapple {
    position: absolute;
    height: 10px;
    width: 10px;
    display: none;
}

.goldPapple--active {
    display: block;
}

.goldPapple__photo {
    width: 100%;
    height: 100%;
}

.button {
    position: absolute;
    z-index: 11;
    left: 85%;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    background-color: #bebebe;
    cursor: pointer;
}

.button-gold {
    width: 70px;
    height: 35px;
    border-radius: 10px;
    background-color: #f7d200;
    cursor: pointer;
    display: none;
}

.button-gold--active {
    display: block;
}

.win {
    height: 25px;
    width: 50px;
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 55px;
    cursor: pointer;
    display: none;
    background-color: black;
    color: white
}
#win-text {
    margin: 0;
    padding: 0 ;
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 5px;
    font-size: 200px;
    color: white;
    display: none;
}

