.spider-game {
    width: 100px;
    height: 100px;
    background-image: url('../images/spiderGame-icon.png');
    background-size: cover;
    display: inline-block;
    border-radius: 10px;
}
.spider-game:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.games {
    padding: 50px;

}
